extends template/layout.pug
block title
	title :: CATUS CAFE - 매장::
block append font
block append css
block append script
block append section
block append aside
block article
	div#fh5co-main.about-bg
		div.fh5co-narrow-content
			h2.fh5co-heading.about-title.animate-box(data-animate-effect="fadeInLeft") SHOP INFO 
			div.row.animate-box(data-animate-effect="fadeInLeft")
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/shop-1.jpg" alt="")
						h3.fh5co-work-title 커피를 내릴때도 최고급 머신 medelom456 
						p 엔틱한 인테리어에 맞는 머신
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/shop-2.jpg" alt="")
						h3.fh5co-work-title 바리스타의 손길로 내립니다. 
						p 바리스타대회 1위 
				div.clearfix.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/shop-3.jpg" alt="")
						h3.fh5co-work-title 공간을 활용한 커피머신 
						p 청결한 카페
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_6.jpg" alt="")
						h3.fh5co-work-title 깔끔한 플레이트 
						p 손님에게 커피 느낌 그대로를 전합니다. 
				div.clearfix.visible-md-block.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_7.jpg" alt="")
						h3.fh5co-work-title 정보제목입력란 
						p 정보내용
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/shop-4.jpg" alt="")
						h3.fh5co-work-title 정보제목입력란 
						p 정보내용
					a(href="#")
						img.img-responsive(src="public/images/shop-5.jpg" alt="")
						h3.fh5co-work-title 정보제목입력란 
						p 정보내용
				div.clearfix.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_10.jpg" alt="")
						h3.fh5co-work-title 정보제목입력란 
						p 정보내용
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/shop-7.jpg" alt="")
						h3.fh5co-work-title 정보제목입력란 
						p 정보내용
					a(href="#")
						img.img-responsive(src="public/images/shop-6.jpg" alt="")
						h3.fh5co-work-title 정보제목입력란 
						p 정보내용