extends template/layout.pug
block title
	title :: CATUS CAFE - 원두::
block append font
block append css
block append script
block append section
block append aside
block article
	div#fh5co-main.bean-bg
		div.fh5co-narrow-content
			h2.fh5co-heading.animate-box(data-animate-effect="fadeInLeft") COFFEE BEANS 
			div.row.animate-box(data-animate-effect="fadeInLeft")
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title <strong> NEW]</strong> 만델링 아루노스(신맛) 
						p 100g - 5,000원 
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title <strong> HIT]</strong> 수프리모(부드러운맛) 
						p 100g - 5,000원 
				div.clearfix.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title <strong> HOT]</strong> 안티푸람(시원한맛) 
						p 100g - 5,000원 
				div.clearfix.visible-md-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title 안티구안 
						p 100g - 5,000원 
				div.clearfix.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title 찰리노체 
						p 100g - 5,000원 
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title <strong> HOT]</strong> 파리올래 
						p 100g - 5,000원 
				div.clearfix.visible-md-block.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title 강추] 만델링 아루노스(신맛) 
						p 100g - 5,000원 
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title 강추] 만델링 아루노스(신맛) 
						p 100g - 5,000원 
				div.clearfix.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/bean-1.jpg" alt="")
						h3.fh5co-work-title 강추] 만델링 아루노스(신맛) 
						p 100g - 5,000원 