extends template/layout.pug
block title
	title :: CATUS CAFE - 커피 메뉴 ::
block append font
block append css
block append script
block append section
block append aside
block article
	div#fh5co-main.coffee-bg
		div.fh5co-narrow-content
			h2.fh5co-heading.animate-box(data-animate-effect="fadeInLeft") MENU & PRICE 
			//- div.row
				//- div.col-md-4.animate-box(data-animate-effect="fadeInLeft")
				//- 	h1.fh5co-heading-colored coffee
			div.row
				div.menus.col-md-4.animate-box(data-animate-effect="fadeInLeft")
					p.fh5co-lead Americano 
					img.img-responsive(src="public/images/americano.jpg", alt="")
					p 
						a.btn.btn-primary.btn-outline(href='#') 3000원 
						a.btn.btn-info.btn-outline(href='#') 3000원 
				div.menus.col-md-4.animate-box(data-animate-effect="fadeInLeft")
					p.fh5co-lead Americano 
					img.img-responsive(src="public/images/americano.jpg", alt="")
					p 
						a.btn.btn-primary.btn-outline(href='#') 3000원 
						a.btn.btn-info.btn-outline(href='#') 3000원 
				div.menus.col-md-4.animate-box(data-animate-effect="fadeInLeft")
					p.fh5co-lead Americano 
					img.img-responsive(src="public/images/americano.jpg", alt="")
					p 
						a.btn.btn-primary.btn-outline(href='#') 3000원 
						a.btn.btn-info.btn-outline(href='#') 3000원 
		div.fh5co-narrow-content
			div.row
				div.menus.col-md-4.animate-box(data-animate-effect="fadeInLeft")
					p.fh5co-lead Americano 
					img.img-responsive(src="public/images/americano.jpg", alt="")
					p 
						a.btn.btn-primary.btn-outline(href='#') 3000원 
						a.btn.btn-info.btn-outline(href='#') 3000원 
				div.menus.col-md-4.animate-box(data-animate-effect="fadeInLeft")
					p.fh5co-lead Americano 
					img.img-responsive(src="public/images/americano.jpg", alt="")
					p 
						a.btn.btn-primary.btn-outline(href='#') 3000원 
						a.btn.btn-info.btn-outline(href='#') 3000원 
				div.menus.col-md-4.animate-box(data-animate-effect="fadeInLeft")
					p.fh5co-lead Americano 
					img.img-responsive(src="public/images/americano.jpg", alt="")
					p 
						a.btn.btn-primary.btn-outline(href='#') 3000원 
						a.btn.btn-info.btn-outline(href='#') 3000원 