extends template/layout.pug
block title
	title :: CATUS CAFE ::
block append font
block append css
block append script
block append section
block append aside
block article
	div#fh5co-main.main-bg
		div.fh5co-narrow-content
			h2.fh5co-heading.main-title.animate-box(data-animate-effect="fadeInLeft") CATUS CAFE 
			div.row.animate-box(data-animate-effect="fadeInLeft")
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_1.jpg" alt="")
						h3.fh5co-work-title 따뜻한 분위기 카페 그리고 휴식
						p 전망이 좋은 위치에 자리를 잡은 카페 CATUS 
						p 오늘도 휴식을 취하고 갑니다.
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_2.jpg" alt="")
						h3.fh5co-work-title 새해 기념 10% 할인 이벤트 진행중
						p 새해를 맞이해서 10% 할인 가격으로 한달간 진행합니다
						p 궁금한 점이 있으신 분은 010-0000-0000 으로 문의해주세요.
				div.clearfix.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_8.jpg" alt="")
						h3.fh5co-work-title 드디어 케냐 브랜딩 원두 출시
						p 자체 로스팅을 통해 업그레이드된 원두가 출시 
						p 500g에 15,000원에 저렴한 가격 
						p 소량 예약 주문가능 
				div.clearfix.visible-md-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_4.jpg" alt="")
						h3.fh5co-work-title 제목입력란 
						p 내용입력 
				div.clearfix.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_5.jpg" alt="")
						h3.fh5co-work-title 제목입력란 
						p 내용입력 
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_6.jpg" alt="")
						h3.fh5co-work-title 제목입력란 
						p 내용입력 
				div.clearfix.visible-md-block.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_7.jpg" alt="")
						h3.fh5co-work-title 제목입력란 
						p 내용입력 
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_3.jpg" alt="")
						h3.fh5co-work-title 제목입력란 
						p 내용입력 
				div.clearfix.visible-sm-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_9.jpg" alt="")
						h3.fh5co-work-title 제목입력란 
						p 내용입력 
				div.clearfix.visible-md-block
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_10.jpg" alt="")
						h3.fh5co-work-title 제목입력란 
						p 내용입력 
				div.col-md-4.col-sm-6.col-xs-6.col-xxs-12.work-item
					a(href="#")
						img.img-responsive(src="public/images/work_11.jpg" alt="")
						h3.fh5co-work-title 제목입력란 
						p 내용입력 