a.js-fh5co-nav-toggle.fh5co-nav-toggle(href="#")
  i
aside#fh5co-aside.border.js-fullheight(role="complementary")
  h1#fh5co-logo
    a(href="/")
      img(src="/public/images/catus-black-logo.png" alt="logo")
  nav#fh5co-main-menu(role="navigation")
    ul
      li
        a(href="/") 홈 
      li
        a(href="/coffee") 커피메뉴 및 가격 
      li
        a(href="/about") 매장정보 
      li
        a(href="/bean") 원두 
      li
        a(href="/contact") 문의하기 
  div.fh5co-footer
    p.payment-box
      small 
        span 계좌 : 1234-2345-1234 (은행명)
        span 예금주 : 홍길동
        span 영업시간 : AM 9:00 ~ PM 19:00
    p
      small 
        span &copy; Catus free template. All Rights Reserved.
        span Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> 
        span Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a>
    ul
      li
        a(href="#")
          i.icon-facebook
      li
        a(href="#")
          i.icon-twitter
      li
        a(href="#")
          i.icon-instagram
      li
        a(href="#")
          i.icon-linkedin